@font-face {
    font-family: Playfair Display;
    src: url(/_next/static/media/PlayfairDisplay-Bold.34a18e8fb1c1542162f56918f7f61e3c.ttf);
    font-style: normal;
    font-weight: 700;
    font-display: auto
}

@font-face {
    font-family: Playfair Display;
    src: url(/_next/static/media/PlayfairDisplay-Black.942b980e28bf8d1761082ce951ed0e30.ttf);
    font-style: normal;
    font-weight: 900;
    font-display: auto
}

@font-face {
    font-family: Montserrat;
    src: url(/_next/static/media/Montserrat-Light.02afb26fe72fcc05298817491c044b7b.ttf);
    font-style: normal;
    font-weight: 300;
    font-display: auto
}

@font-face {
    font-family: Montserrat;
    src: url(/_next/static/media/Montserrat-Medium.e2d60bc49517598c0ce8b98f8d4e579f.ttf);
    font-style: normal;
    font-weight: 500;
    font-display: auto
}

@font-face {
    font-family: Montserrat;
    src: url(/_next/static/media/Montserrat-SemiBold.fa8441f345d83a0bc4ec345a6948dbb0.ttf);
    font-style: normal;
    font-weight: 600;
    font-display: auto
}

@font-face {
    font-family: Montserrat;
    src: url(/_next/static/media/Montserrat-Bold.079ca05d3ded9bc107ab8a8da013be22.ttf);
    font-style: normal;
    font-weight: 700;
    font-display: auto
}

@font-face {
    font-family: Montserrat;
    src: url(/_next/static/media/Montserrat-ExtraBold.1944c8d1a118759a443517c1337aafdc.ttf);
    font-style: normal;
    font-weight: 800;
    font-display: auto
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: initial
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: ""
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

*,
:after,
:before {
    box-sizing: inherit
}

html {
    box-sizing: border-box
}

body,
html {
    overflow-x: hidden
}

body {
    position: relative;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    color: #000;
    background: #fff
}

body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff
}

@media(min-width:481px) {
    body,
    body * {
        cursor: none !important
    }
}

body>#__next {
    overflow: hidden
}

a {
    color: inherit;
    text-decoration: none
}

button {
    cursor: pointer
}

button,
input,
textarea {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    outline: none;
    padding: 0
}

textarea {
    resize: vertical
}

img {
    max-width: 100%;
    vertical-align: middle
}

.scroll-lock {
    position: fixed;
    width: 100%;
    overflow-y: hidden
}

.scroll-lock #page-menu {
    opacity: 0
}

.scroll-lock ::-webkit-scrollbar {
    display: none
}

.jump-to-main-content {
    position: absolute;
    display: block;
    top: 0;
    left: -624.9375rem;
    padding: 1.5625rem;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    background: #fff;
    z-index: 9999
}

.jump-to-main-content:focus {
    left: 0
}

[data-js-focus-visible] :focus:not([data-focus-visible-added]) {
    outline: none
}

.scroll-indicator_scroll__text__HZW5q {
    position: absolute;
    display: flex;
    align-items: center;
    transform: rotate(90deg) translateY(8px);
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 0;
    pointer-events: none;
    text-transform: capitalize
}

@media(min-width:1152px) {
    .scroll-indicator_scroll__text__HZW5q {
        font-size: .75rem;
        transform: rotate(90deg) translateY(32px)
    }
}

.scroll-indicator_scroll__text__HZW5q[data-variant=black] {
    color: #000
}

.scroll-indicator_scroll__text__HZW5q[data-variant=white] {
    color: #fff
}

.scroll-indicator_scroll__sprite__18Y5Q {
    width: 1.5625rem;
    height: 6px;
    pointer-events: none;
    animation: scroll-indicator_arrow__sckSU 1s ease-in-out infinite alternate
}

@media(min-width:1152px) {
    .scroll-indicator_scroll__sprite__18Y5Q {
        margin-left: 8px;
        margin-top: 1px;
        width: 2.125rem;
        height: .8125rem
    }
}

.scroll-indicator_scroll__sprite__18Y5Q[data-variant=black] {
    fill: #000
}

.scroll-indicator_scroll__sprite__18Y5Q[data-variant=white] {
    fill: #fff
}

@keyframes scroll-indicator_arrow__sckSU {
    0% {
        transform: translateX(0)
    }
    to {
        transform: translateX(10px)
    }
}

.mega-menu_motion-wrapper__149xf {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 106
}

.mega-menu_motion-wrapper__149xf ::-webkit-scrollbar {
    display: none
}

.mega-menu_megamenu__1T6dX {
    display: none
}

.mega-menu_megamenu--open__1AlXZ {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 3.4375rem);
    background: #000;
    color: #fff;
    z-index: 106;
    overflow-y: scroll
}

@media(min-width:768px) {
    .mega-menu_megamenu--open__1AlXZ {
        left: 5rem;
        width: calc(100% - 5rem);
        height: 100vh
    }
}

.mega-menu_megamenu--open__1AlXZ:after {
    content: "";
    opacity: 0;
    position: fixed;
    bottom: 3.4375rem;
    left: 0;
    display: block;
    width: 100%;
    height: 25%;
    background: linear-gradient(180deg, transparent, #000);
    z-index: 1;
    pointer-events: none
}

@media(min-width:768px) {
    .mega-menu_megamenu--open__1AlXZ:after {
        bottom: 0
    }
}

@media(min-width:1367px) {
    .mega-menu_megamenu--open__1AlXZ:after {
        background: none
    }
}

.mega-menu_megamenu--open__1AlXZ[data-entrance-animation-finished=true]:after {
    transition: opacity .65s ease;
    opacity: 1
}

.mega-menu_megamenu__wrapper__1LOIl {
    position: absolute;
    width: 100%;
    max-width: 137.5rem;
    z-index: -1
}

.mega-menu_megamenu__wrapper__1LOIl:before {
    content: "";
    position: fixed;
    right: 0;
    top: 0;
    display: block;
    width: 1.625rem;
    opacity: 0;
    height: 100%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBvcGFjaXR5PSIuMTU5IiBkPSJNMCAwaDEzdjEzSDB6Ii8+PHBhdGggZD0iTTMuNTggMy41MDloMi41MWEuMTg1LjE4NSAwIDAwLjE5LS4xOS4xODUuMTg1IDAgMDAtLjE5LS4xODhIMy41OFYuNjJhLjE4NS4xODUgMCAwMC0uMTktLjE4OS4xODUuMTg1IDAgMDAtLjE4OS4xODl2Mi41MUguNjkxYS4xODUuMTg1IDAgMDAtLjE5LjE5YzAgLjA1NC4wMTQuMDk0LjA1NS4xMzUuMDQuMDQuMDguMDU0LjEzNS4wNTRIMy4ydjIuNTFjMCAuMDU1LjAyNy4xMDkuMDU0LjEzNmEuMjA2LjIwNiAwIDAwLjEzNS4wNTQuMTg1LjE4NSAwIDAwLjE5LS4xOVYzLjUxeiIgZmlsbD0iI0Q3RDdENyIgZmlsbC1ydWxlPSJub256ZXJvIi8+PC9nPjwvc3ZnPg==)
}

@media(min-width:481px) {
    .mega-menu_megamenu__wrapper__1LOIl:before {
        width: 4rem
    }
}

@media(min-width:1152px) {
    .mega-menu_megamenu__wrapper__1LOIl:before {
        background-size: 1.125rem;
        width: 3.375rem
    }
}

@media(min-width:1367px) {
    .mega-menu_megamenu__wrapper__1LOIl:before {
        width: 5.5rem
    }
}

@media(min-width:1601px) {
    .mega-menu_megamenu__wrapper__1LOIl:before {
        width: 6.125rem
    }
}

.mega-menu_megamenu__wrapper__1LOIl[data-entrance-animation-finished=true]:before {
    transition: opacity .3s ease;
    opacity: .4
}

@media(min-width:1152px) {
    .mega-menu_megamenu__wrapper__1LOIl[data-entrance-animation-finished=true]:before {
        opacity: .25
    }
}

.mega-menu_megamenu__nav-title__2HAI8 {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    height: 25%;
    padding-top: 2.5rem;
    padding-left: 2.0625rem;
    font-family: Playfair Display, Georgia, Times New Roman, Times, serif;
    font-size: 1rem;
    letter-spacing: .2px;
    font-weight: 800;
    background: linear-gradient(180deg, #000, transparent);
    transition: height 1s ease;
    pointer-events: none;
    z-index: 1;
    opacity: 0
}

@media(min-width:768px) {
    .mega-menu_megamenu__nav-title__2HAI8 {
        padding-left: 2.5rem
    }
}

@media(min-width:931px) {
    .mega-menu_megamenu__nav-title__2HAI8 {
        font-size: 1.25rem
    }
}

@media(min-width:1152px) {
    .mega-menu_megamenu__nav-title__2HAI8 {
        padding-left: calc(40px + 120*(100vw - 1151px)/215)
    }
}

@media(min-width:1367px) {
    .mega-menu_megamenu__nav-title__2HAI8 {
        padding-left: 10rem;
        background: none;
        opacity: 1
    }
}

.mega-menu_megamenu__nav-title__2HAI8[data-entrance-animation-finished=true] {
    transition: height 1s ease, opacity .3s ease;
    opacity: 1
}

.mega-menu_megamenu__nav-item__11ZLz {
    position: relative;
    padding-left: 2.0625rem;
    margin-bottom: 2.8125rem;
    font-size: 2.375rem;
    font-weight: 800;
    text-transform: uppercase;
    pointer-events: none
}

@media(min-width:481px) {
    .mega-menu_megamenu__nav-item__11ZLz {
        font-size: 3rem
    }
}

@media(min-width:541px) {
    .mega-menu_megamenu__nav-item__11ZLz {
        font-size: 3.375rem;
        padding-left: 2.5rem
    }
}

@media(min-width:641px) {
    .mega-menu_megamenu__nav-item__11ZLz {
        font-size: 4rem;
        padding-left: 2.5rem
    }
}

@media(min-width:768px) {
    .mega-menu_megamenu__nav-item__11ZLz {
        text-align: right;
        padding-right: 2.5rem;
        margin-right: 5rem;
        margin-bottom: 3.125rem;
        font-size: 5rem
    }
}

@media(min-width:931px) {
    .mega-menu_megamenu__nav-item__11ZLz {
        font-size: calc(80px + 40*(100vw - 930px)/221);
        margin-bottom: 3.75rem
    }
}

@media(min-width:1152px) {
    .mega-menu_megamenu__nav-item__11ZLz {
        font-size: 7.5rem
    }
}

@media(min-width:1367px) {
    .mega-menu_megamenu__nav-item__11ZLz {
        margin-right: 7.5rem;
        padding-right: 3.75rem;
        color: #333
    }
}

@media(min-width:1441px) {
    .mega-menu_megamenu__nav-item__11ZLz {
        font-size: calc(120px + 60*(100vw - 1440px)/480)
    }
}

@media(min-width:1601px) {
    .mega-menu_megamenu__nav-item__11ZLz {
        margin-right: 12.5rem
    }
}

@media(min-width:1921px) {
    .mega-menu_megamenu__nav-item__11ZLz {
        font-size: 11.25rem
    }
}

.mega-menu_megamenu__nav-item__11ZLz:before {
    content: attr(data-number-decoration);
    position: absolute;
    left: 6px;
    top: .875rem;
    display: block;
    color: #999;
    font-family: Playfair Display, Georgia, Times New Roman, Times, serif;
    font-size: .6875rem;
    transform: rotate(-90deg);
    transition: color .5s
}

@media(min-width:481px) {
    .mega-menu_megamenu__nav-item__11ZLz:before {
        font-size: .75rem;
        top: 1.125rem
    }
}

@media(min-width:541px) {
    .mega-menu_megamenu__nav-item__11ZLz:before {
        font-size: .75rem;
        top: 1.375rem
    }
}

@media(min-width:641px) {
    .mega-menu_megamenu__nav-item__11ZLz:before {
        font-size: .875rem;
        top: 1.5625rem
    }
}

@media(min-width:768px) {
    .mega-menu_megamenu__nav-item__11ZLz:before {
        top: 1.875rem;
        right: 0;
        left: auto
    }
}

@media(min-width:931px) {
    .mega-menu_megamenu__nav-item__11ZLz:before {
        top: calc(34px + 21*(100vw - 930px)/221)
    }
}

@media(min-width:1152px) {
    .mega-menu_megamenu__nav-item__11ZLz:before {
        top: 3.1875rem;
        font-size: 1.25rem
    }
}

@media(min-width:1367px) {
    .mega-menu_megamenu__nav-item__11ZLz:before {
        color: #333
    }
}

@media(min-width:1441px) {
    .mega-menu_megamenu__nav-item__11ZLz:before {
        top: calc(51px + 32*(100vw - 1440px)/480)
    }
}

@media(min-width:1921px) {
    .mega-menu_megamenu__nav-item__11ZLz:before {
        top: 5.1875rem
    }
}

@media(min-width:1367px) {
    .mega-menu_megamenu__nav-item__11ZLz:hover:before {
        color: #fff
    }
}

.mega-menu_megamenu__nav-item__11ZLz a {
    display: inline-block;
    pointer-events: all;
    transition: color .5s
}

@media(min-width:1367px) {
    .mega-menu_megamenu__nav-item__11ZLz a:hover {
        color: #fff
    }
}

.mega-menu_megamenu__scroll__8t6vx {
    display: none
}

@media(min-width:768px) {
    .mega-menu_megamenu__scroll__8t6vx {
        display: block;
        position: fixed;
        bottom: 5rem;
        margin-left: 2.5rem;
        width: .625rem;
        z-index: 2
    }
}

@media(min-width:1152px) {
    .mega-menu_megamenu__scroll__8t6vx {
        margin-left: calc(40px + 120*(100vw - 1151px)/215)
    }
}

@media(min-width:1367px) {
    .mega-menu_megamenu__scroll__8t6vx {
        margin-left: 10rem
    }
}

.mega-menu_contact-section__2Sb8v {
    display: none;
    pointer-events: none
}

@media(min-width:931px) {
    .mega-menu_contact-section__2Sb8v {
        position: fixed;
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 2.5rem
    }
}

@media(min-width:1152px) {
    .mega-menu_contact-section__2Sb8v {
        margin-left: calc(40px + 120*(100vw - 1151px)/215)
    }
}

@media(min-width:1367px) {
    .mega-menu_contact-section__2Sb8v {
        margin-left: 10rem
    }
}

.mega-menu_contact-section__logo__3E6R0 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 2.5rem;
    margin-left: -4.5px;
    font-size: 9px;
    letter-spacing: 2.33px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    pointer-events: all
}

.mega-menu_contact-section__logo__3E6R0 span {
    padding-left: 4.5px
}

.mega-menu_contact-section__logo-sprite__Vz1Ci {
    width: 5.5rem;
    height: 2rem;
    margin-bottom: 8px
}

.mega-menu_contact-section__address__1sDsD {
    font-size: .75rem;
    letter-spacing: .14px;
    line-height: .9375rem;
    font-weight: 500;
    margin-top: 0;
    text-align: left;
    pointer-events: all
}

.mega-menu_contact-section__phone__1OEVf {
    display: block;
    margin-top: 1rem;
    font-size: .75rem;
    letter-spacing: .17px;
    font-weight: 700;
    text-align: left;
    pointer-events: all
}

.mega-menu_contact-section__social__33OZm {
    display: flex;
    justify-content: space-between;
    width: 11.25rem;
    padding-left: 4.5px;
    margin-top: 3.5rem
}

.mega-menu_contact-section__social-link__1RfHU {
    position: relative;
    font-size: 0;
    pointer-events: all
}

.mega-menu_contact-section__social-link__1RfHU:before {
    content: attr(icon-content);
    color: #af824c;
    font-family: Playfair Display, Georgia, Times New Roman, Times, serif;
    font-size: .875rem;
    font-weight: 900;
    letter-spacing: .18px;
    text-transform: lowercase
}

.header_header__wrapper__1EqGi {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3.4375rem;
    color: #333;
    background: #fff;
    box-shadow: 0 -12px 32px -9px rgba(0, 0, 0, .08);
    z-index: 107
}

@media(min-width:768px) {
    .header_header__wrapper__1EqGi {
        z-index: 103;
        top: 0;
        bottom: auto;
        height: 100vh;
        width: 5rem;
        box-shadow: none
    }
    .header_header__wrapper__1EqGi:before {
        content: "";
        position: fixed;
        top: 0;
        width: 100%;
        height: 4.625rem;
        background-color: #fff;
        transition: opacity .5s, visibility .5s
    }
    .header_header__wrapper--open__5DfGP {
        z-index: 107
    }
}

.header_header__wrapper--open__5DfGP:before {
    opacity: 0;
    visibility: hidden
}

.header_header__logo__1MEqb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 .875rem;
    font-size: 0;
    cursor: pointer
}

@media(min-width:768px) {
    .header_header__logo__1MEqb {
        position: fixed;
        top: 0;
        left: 5rem;
        height: 4.625rem;
        padding: 0
    }
}

.header_header__logo__1MEqb span[data-logo-wrapper-desktop] {
    display: none
}

@media(min-width:768px) {
    .header_header__logo__1MEqb span[data-logo-wrapper-desktop] {
        display: block
    }
}

.header_header__logo__1MEqb span[data-logo-wrapper-mobile] {
    display: block
}

@media(min-width:768px) {
    .header_header__logo__1MEqb span[data-logo-wrapper-mobile] {
        display: none
    }
}

.header_header__logo-sprite--small__3zBCZ {
    width: 2.375rem;
    height: .875rem
}

@media(min-width:768px) {
    .header_header__logo-sprite--small__3zBCZ {
        display: none
    }
}

.header_header__logo-sprite--large__mTL3O {
    display: none;
    width: 8.25rem;
    height: .875rem
}

@media(min-width:768px) {
    .header_header__logo-sprite--large__mTL3O {
        display: initial
    }
    .header_header__logo--open__3VrcP {
        left: 0;
        width: 5rem;
        display: flex;
        justify-content: center;
        align-items: center
    }
    .header_header__logo--open__3VrcP .header_header__logo-sprite--small__3zBCZ {
        display: block;
        width: 2.875rem;
        height: 1.0625rem
    }
    .header_header__logo--open__3VrcP .header_header__logo-sprite--large__mTL3O {
        display: none
    }
}

.header_header__menu-button__2Hivl {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0 .875rem;
    font-size: 9px;
    letter-spacing: .9px;
    text-transform: uppercase
}

@media(min-width:768px) {
    .header_header__menu-button__2Hivl {
        width: 5rem;
        height: 5rem;
        padding: 0;
        font-size: .625rem;
        letter-spacing: 1px
    }
}

.header_header__menu-button__2Hivl span,
.header_header__menu-button__2Hivl svg {
    position: relative
}

.header_header__menu-button__2Hivl span[data-background-desktop] {
    display: none
}

@media(min-width:768px) {
    .header_header__menu-button__2Hivl span[data-background-desktop] {
        position: absolute;
        display: block;
        background: #000;
        width: 100%;
        height: 100%
    }
}

.header_header__menu-button__2Hivl span[data-background-mobile] {
    position: absolute;
    display: block;
    background: #000;
    width: 100%;
    height: 100%
}

@media(min-width:768px) {
    .header_header__menu-button__2Hivl span[data-background-mobile] {
        display: none
    }
}

.header_header__menu-button--open__20EFd span {
    color: #fff
}

@media(min-width:768px) {
    .header_header__menu-button--open__20EFd span {
        font-size: 0
    }
}

.header_header__menu-icon__ERlhd {
    width: 2.0625rem;
    height: .875rem;
    margin-bottom: 6px
}

@media(min-width:768px) {
    .header_header__menu-icon__ERlhd {
        width: 2.375rem;
        height: 1rem;
        margin-bottom: .625rem
    }
}

.header_header__menu-button--open__20EFd>.header_header__menu-icon__ERlhd {
    width: 1.0625rem;
    height: 1.0625rem
}

@media(min-width:768px) {
    .header_header__menu-button--open__20EFd>.header_header__menu-icon__ERlhd {
        margin: 0;
        width: 1.75rem;
        height: 1.75rem
    }
}

.footer_footer__2CeEI {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
    background: #000;
    padding: 2.875rem 3.125rem 0;
    margin-bottom: 3.4375rem
}

@media(min-width:768px) {
    .footer_footer__2CeEI {
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 0;
        padding: 2.25rem 0 2.625rem;
        z-index: 104
    }
}

.footer_footer__contact-section__38mBj {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

@media(min-width:768px) {
    .footer_footer__contact-section__38mBj {
        width: auto;
        align-items: flex-start
    }
}

.footer_footer__logo__xvOF4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 7px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.81px;
    text-align: center
}

@media(min-width:768px) {
    .footer_footer__logo__xvOF4 {
        align-items: start;
        font-size: 9px;
        letter-spacing: 2.33px
    }
    .footer_footer__logo__xvOF4 span {
        padding-left: 4.5px
    }
}

.footer_footer__logo-sprite__3YFnN {
    width: 4.375rem;
    height: 1.625rem;
    margin-bottom: 5px
}

@media(min-width:768px) {
    .footer_footer__logo-sprite__3YFnN {
        width: 5.5rem;
        height: 2rem;
        margin-bottom: 8px
    }
}

.footer_footer__address__2LngY {
    font-size: .625rem;
    letter-spacing: .14px;
    line-height: .9375rem;
    font-weight: 500;
    text-align: center;
    margin-top: 2.375rem
}

@media(min-width:768px) {
    .footer_footer__address__2LngY {
        margin-top: 0;
        text-align: right
    }
    .footer_footer__address--mobile__11IdH {
        display: none
    }
}

.footer_footer__address--desktop__1sPf- {
    display: none
}

@media(min-width:768px) {
    .footer_footer__address--desktop__1sPf- {
        display: initial
    }
}

.footer_footer__phone__1ZSZH {
    display: block;
    font-size: .75rem;
    letter-spacing: .17px;
    font-weight: 700;
    text-align: center;
    margin-top: .75rem
}

@media(min-width:768px) {
    .footer_footer__phone__1ZSZH {
        text-align: right
    }
}

.footer_footer__social__2by9U {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 15.3125rem;
    margin-top: 3.4375rem
}

@media(min-width:768px) {
    .footer_footer__social__2by9U {
        margin-top: 1.25rem;
        min-width: 12.5rem;
        padding-left: 4.5px
    }
}

.footer_footer__social-link__2Kd6z {
    position: relative;
    font-size: 0
}

.footer_footer__social-link__2Kd6z:before {
    content: attr(icon-content);
    color: #af824c;
    font-family: Playfair Display, Georgia, Times New Roman, Times, serif;
    font-size: .875rem;
    font-weight: 900;
    letter-spacing: .18px;
    text-transform: lowercase;
    transition: color .7s
}

.footer_footer__social-link__2Kd6z:hover:before {
    color: #fff
}

.footer_footer__site-section__37SE- {
    text-align: center
}

.footer_footer__nav__1b5Yy {
    margin-top: 3.75rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center
}

@media(min-width:768px) {
    .footer_footer__nav__1b5Yy {
        font-size: .75rem;
        margin-top: 8px
    }
}

.footer_footer__nav__1b5Yy ul {
    pointer-events: none
}

@media(min-width:768px) {
    .footer_footer__nav__1b5Yy ul {
        display: flex
    }
}

.footer_footer__nav__1b5Yy li {
    transition: opacity .7s;
    transition-delay: .7s;
    pointer-events: all
}

.footer_footer__nav__1b5Yy li:hover {
    opacity: 1 !important;
    transition-delay: 0s
}

.footer_footer__nav__1b5Yy li:not(:last-child) {
    margin-bottom: 2rem
}

@media(min-width:768px) {
    .footer_footer__nav__1b5Yy li:not(:last-child) {
        margin-bottom: 0;
        margin-right: 3.125rem
    }
}

.footer_footer__nav__1b5Yy ul:hover li {
    opacity: .5;
    transition-delay: 0s
}

.footer_footer__copyright__3ZjWx {
    margin-top: 3.75rem;
    font-size: 9px;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: .13px;
    text-align: center
}

@media(min-width:768px) {
    .footer_footer__copyright__3ZjWx {
        margin-top: 2rem
    }
}

.footer_footer__terms__1HeNx {
    margin-top: .625rem;
    color: #af824c;
    font-size: 9px;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: .13px;
    text-align: center
}

.footer_footer__back-top__38lz2 {
    margin-top: 3.4375rem;
    font-size: 0
}

@media(min-width:768px) {
    .footer_footer__back-top__38lz2 {
        position: absolute;
        right: 0;
        bottom: 0
    }
}

.footer_footer__back-top-sprite__2H7p5 {
    width: 2.75rem;
    height: 2.75rem
}

.custom-cursor_custom-cursor__1ViUG {
    position: fixed;
    z-index: 1000;
    display: none;
    border-radius: 50%;
    mix-blend-mode: difference;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none
}

@media(min-width:481px) {
    .custom-cursor_custom-cursor__1ViUG {
        display: block
    }
}

.custom-cursor_custom-cursor__1ViUG:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    border-radius: 50%;
    box-sizing: border-box;
    transform: scale(1.4);
    box-shadow: inset 0 0 0 10px #fff;
    transition: transform, box-shadow;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.6, 0, 0, 1)
}

.custom-cursor_custom-cursor__effect__2opGW {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.custom-cursor_custom-cursor__effect-drag__3-q5d {
    width: 2.5rem;
    height: .875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: width .5s cubic-bezier(.6, 0, 0, 1), opacity .5s
}

.custom-cursor_custom-cursor__effect-drag__3-q5d:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    margin-left: -3px;
    background: #fff;
    border-radius: 50%
}

.custom-cursor_custom-cursor__effect-drag__3-q5d .custom-cursor_crs-chevron__3D2Zu {
    display: block;
    height: 10px;
    fill: #fff
}

.custom-cursor_custom-cursor--action-moving__1MU1z:not([data-state=hovering]):before {
    transform: scale(.9);
    transition-duration: .25s
}

.custom-cursor_custom-cursor--action-clicking__17qYz:before {
    transform: scale(.8);
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.6, 0, 0, 1.5), ease, ease
}

.custom-cursor_custom-cursor--hover-drag__2Js4Y:before {
    transform: scale(4);
    box-shadow: inset 0 0 0 1px #fff;
    transition-timing-function: cubic-bezier(.8, 0, 0, 1)
}

.custom-cursor_custom-cursor--hover-drag__2Js4Y .custom-cursor_custom-cursor__effect-drag__3-q5d {
    width: 4.625rem;
    opacity: 1
}

.custom-cursor_custom-cursor--hover-drag__2Js4Y.custom-cursor_custom-cursor--action-clicking__17qYz:before {
    transform: scale(1.4);
    box-shadow: inset 0 0 0 5px #fff;
    transition-duration: .5s
}

.custom-cursor_custom-cursor--hover-drag__2Js4Y.custom-cursor_custom-cursor--action-clicking__17qYz .custom-cursor_custom-cursor__effect-drag__3-q5d {
    width: 3.125rem
}

.custom-cursor_custom-cursor--hover-expand__23tQh:before {
    transform: scale(2.5)
}

.custom-cursor_custom-cursor--hover-expand__23tQh.custom-cursor_custom-cursor--clicking__2RTw0:before {
    transform: scale(1)
}

.custom-cursor_custom-cursor--hover-fade__3CUe9:before {
    background: #000;
    transform: scale(300);
    transition-duration: 1s
}

.custom-cursor_custom-cursor--hover-fade__3CUe9 .custom-cursor_custom-cursor__effect__2opGW {
    transform: scale(1);
    transition-duration: 1s
}

.layout_main-wrapper__g-8Pj {
    min-height: 100vh
}

@media(min-width:768px) {
    .layout_main-wrapper__g-8Pj {
        padding-top: 4.625rem;
        padding-left: 5rem
    }
}

.layout_transition-overlay__2Ih_s {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 108;
    background-color: #000
}

.layout_transition-overlay__2Ih_s svg {
    width: 5rem;
    height: auto
}

@media(min-width:768px) {
    .layout_transition-overlay__2Ih_s svg {
        width: 7.5rem
    }
}